@font-face {
  font-family: 'DINPro';
  src:
  url('../fonts/DINPro/DINPro.woff') format('woff'),
  url('../fonts/DINPro/DINPro.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}