.container
  width: 95%
  max-width: 1378px
  margin: auto
.col-30
  padding-top: 7px
  align-items: flex-end
  width: 97%
  // padding-bottom: 43px
  &:nth-of-type(2)
    width: 2%
    display: flex
    flex-direction: row
    justify-content: flex-end
    align-items: flex-end
.fotorama
  width: 40%
.product__information
  width: 60%
    