@media screen and ( max-width: 1379px )
  .forms
    &__card
      flex-direction: column
      justify-content: center
    &__rows
      justify-content: space-around
    &__information
      align-items: center
      margin-top: 10px
      margin-bottom: 10px
      margin-right: 0
@media screen and ( max-width: 1367px )
  .forms
    &__title
      &::after
        width: 30%
        right: -218px
      &::before
        width: 30%
        left: -218px
  .product
    &__deliverymethod
      &__first
        &__title
          display: flex
          flex-wrap: nowrap
@media screen and ( max-width: 1315px )
  .categories
    &__rows
      &__button
        &:nth-of-type(4)
          margin-right: 30px
@media screen and ( max-width: 1303px )
  .product
    &__manipulations
      &__wrap
        align-items: flex-start
        flex-direction: column
      &__button
        margin-top: 10px
        &__left
          display: flex
          flex-direction: row
@media screen and ( max-width: 1171px )
  .mobileapp
    &__text
      &__title
        font-size: 60px
    &__image
      display: none

@media screen and ( max-width: 1158px )
  .forms
    &__title
      &::after
        width: 20%
        right: -145px
      &::before
        width: 20%
        left: -145px
  .hero
    &__navigation
      &__logo
        display: none
      &__navbar 
        margin: auto
@media screen and ( max-width: 1150px )
  .services
    &__next
      bottom: 0 !important
    &__prev
      bottom: 0 !important
  .swiper
    &-button
      &-next
        bottom: 100px
      &-prev
        bottom: 100px
@media screen and ( max-width: 1148px )
  .product
    &__position
      flex-direction: column
      align-items: center
@media screen and ( max-width: 1103px )
  .product
    &__viewed
      display: none
@media screen and ( max-width: 1091px )
  .hero
    &__brand
      &__text
        display: none
@media screen and ( max-width: 1036px )
  .forms
    &__title
      &::before
        display: none
      &::after
        display: none
@media screen and ( min-width: 992px )
  .product__deliverymethod__nav label
    &:hover
      cursor: pointer
  .product__manipulations__button
    &:hover
      color: $light
      background: $orange
      border: 2px solid $orange
  .catalog__navigation__button
    &:hover
      color: $orange
      text-decoration: underline
  .categories__rows__button
    &:hover
      background: $orange
      color: $light
    &:hover .categories__rows__image
      fill: #ffffff
  .categories__more
    &:hover
      background: $borderline
  .discount
    &__rows
      &__card
        &__image
          &:hover .discount__rows__card__heart
            display: block
            cursor: pointer
          &:hover .discount__rows__card__more
            display: block
            cursor: pointer
          &:hover .discount__rows__card__shadow
            display: block
  .footer__phone       
    &:hover
      color: $logotext
  .footer__social
    & a
      &:hover .footer__social__image svg
        fill: $logotext
  .footer__list
    & a
      &:hover
        color: $logotext
  .footer__contacts
    &__sales
      &:hover
        color: $logotext
  .forms__information
    & a
      &:hover
        background: $borderline
  .header       
    &__list
      &__goin
        &:hover .header__list__goin__title
          color: $logotext
        &:hover .header__list__goin__image svg
          fill: $logotext     
  .header           
    &__network
      &__list
        display: flex
        align-items: center
        list-style-type: none
        margin-right: 10px
        &:hover .header__network__image svg
          fill: $logotext
        &:hover .header__network__list__title
          color: $logotext
  .hero
    &__contacts
      & a
        &:hover .hero__contacts__image svg
          fill: $logotext
    &__navigation
      &__navbar
        & a
          &:hover
            border-bottom: 1px solid $orange
  .swiper-buttons
    &:hover
      background-color: $borderline
  .services__title
    &:hover
      color: $orange
@media screen and ( max-width: 992px )
  .footer
    &__list
      display: none
@media screen and ( max-width: 1067px )
  .timer
    &__wraps
      text-align: center
      display: flex
      justify-content: center
      align-items: center
    &__circle
      &__wraps
        display: flex
        justify-content: center
        align-items: center
        flex-basis: 30%
    &__space
      flex-basis: 30%
    &__space
      &__media
        display: none
      & img
        margin: auto
        
@media screen and ( max-width: 951px )
  .header
    &__network
      &__image
        &__last
          display: none
  .hero
    &__flag
      display: none
    &__navigation
      &__navbar 
        margin-top: 10px

@media screen and ( max-width: 911px )
  .product
    &__rows
      flex-direction: column
      align-items: center
      &__recommendation
        margin-left: 0
        margin-right: 0
    &__information
      width: 100% !important
      margin-left: 0
    &__about
      margin-right: 0
    &__subrows
      margin-top: 24px
  .fotorama
    margin-bottom: 30px
    width: 100% !important
    display: flex
    justify-content: center
    &__stage
      display: flex
      margin: auto

@media screen and ( max-width: 888px )
  .header
    &__network
      padding-top: 10px
      justify-content: center
      margin: auto
      &__list
        display: none
  .header
    &__list
      &__goin 
        margin: auto
  .hero
    &__slide
      justify-content: center
    &__brand
      display: none
    &__information
      display: flex
      justify-content: center
  .col-30
    width: 95% !important
    &:nth-of-type(2)
      width: 4% !important
      
  .swiper
    &-text
      margin-top: 30px
      text-align: center
      &::before
        display: none
    &-buttons
      align-self: center
      &::before
        display: none
    &-slide
      &::after
        align-self: center
    &-button
      &-next
        left: calc( 50% + 10px )
      &-prev 
        left: calc( 50% - 40px )
  .product
    &__manipulations
      &__button
        margin-right: 0
        &__left
          & a
            margin-right: 0
      &__wrap
        flex-direction: column
@media screen and ( max-width: 836px )
  .product
    &__subrows
      justify-content: center
    &__about
      flex-direction: column
      width: 100%
@media screen and ( max-width: 768px )
  .footer
    &__wraps
      display: none
    &__down
      margin-top: 30px
  .timer
    display: none
@media screen and ( max-width: 761px )
  .hero
    &__navigation
      &__navbar
        & a 
          margin-right: 17px
@media screen and ( max-width: 740px )
  .forms
    &__rows
      flex-direction: column
      align-items: center
    &__card
      margin-bottom: 20px
      flex-direction: row
      justify-content: flex-end
    &__information
      margin-top: 53px
@media screen and ( max-width: 722px )
  .product 
    &__about
      &__title
        width: 100%
      &__wraps
        display: flex
        flex-direction: column
@media screen and ( max-width: 709px )
  .catalog
    &__header
      &__assort
        display: flex
        flex-direction: column
@media screen and ( max-width: 688px )
  .catalog
    &__list
      flex-direction: column
      align-items: center
@media screen and ( max-width: 570px )
  .categories
    &__rows
      &__button
        margin-right: 0
        &:nth-of-type(4)
          margin-right: 0
@media screen and ( max-width: 612px )
  .footer
    &__down
      &__wraps
        flex-direction: column
        align-items: center
@media screen and ( max-width: 648px )
  .product
    &__deliverymethod
      &__first
        &__title 
          flex-wrap: wrap
          flex-direction: column
          align-items: end
          & input[type="radio"] 
            margin-bottom: -20px
@media screen and ( max-width: 646px )
  .hero
    &__navigation
      &__navbar
        display: none
@media screen and ( max-width: 575px )
  .col-30:nth-of-type(2)
    display: none !important
  .mobileapp
    &__text
      &__title
        font-size: 40px
        line-height: 40px
  .forms
    display: none
  .services
    display: none
  .mobileapp
    margin-bottom: 0
  .footer
    &__down
      margin-top: 0
@media screen and ( max-width: 525px )
  .catalog
    &__header
      display: flex
      flex-direction: column
      align-items: center
      &__assort
        &__select
          padding-right: 50px
@media screen and ( max-width: 438px )
  .product
    &__information
      &__subtitle
        display: flex
        flex-direction: column
        align-items: flex-start
        &__price
          margin-bottom: 15px
      &__title
        flex-direction: column
  .catalog
    &__navigation
      &__categories
        margin-right: 0
    &__rows
      &__button
        width: 290px
  .popgoods
    &__rows
      &__card
        &__image
          height: 290px
          & img
            width: 290px
  .swiper 
    &-text 
      text-align: center
      &::before
        margin: auto