@media screen and ( max-width: 1379px )
  .forms
    &__card
      flex-direction: column
      justify-content: center
    &__rows
      justify-content: space-around
    &__information
      align-items: center
      margin-top: 10px
@media screen and ( max-width: 1315px )
  .categories
    &__rows
      &__button
        &:nth-of-type(4)
          margin-right: 30px
@media screen and ( max-width: 1171px )
  .mobileapp
    &__text
      &__title
        font-size: 60px
    &__image
      display: none

@media screen and ( max-width: 1158px )
  .hero
    &__navigation
      &__logo
        display: none
      &__navbar 
        margin: auto
@media screen and ( max-width: 1091px )
  .hero
    &__brand
      &__text
        display: none
@media screen and ( max-width: 1036px )
  .forms
    &__header
      &::before
        display: none
      &::after
        display: none
@media screen and ( max-width: 992px )
  .footer
    &__list
      display: none
@media screen and ( max-width: 1067px )
  .timer
    &__wraps
      text-align: center
      display: flex
      justify-content: center
      align-items: center
    &__circle
      &__wraps
        display: flex
        justify-content: center
        align-items: center
        flex-basis: 30%
    &__space
      flex-basis: 30%
    &__space
      &__media
        display: none
      & img
        margin: auto
        
@media screen and ( max-width: 951px )
  .header
    &__network
      &__image
        &__last
          display: none
  .hero
    &__flag
      display: none
    &__navigation
      &__navbar 
        margin-top: 10px

@media screen and ( max-width: 888px )
  .header
    &__network
      padding-top: 10px
      justify-content: center
      margin: auto
      &__list
        display: none
  .header
    &__list
      &__goin 
        margin: auto
  .hero
    &__slide
      justify-content: center
    &__brand
      display: none
    &__information
      display: flex
      justify-content: center
  .col-30
    width: 95% !important
    &:nth-of-type(2)
      width: 4% !important
      
  .swiper
    &-text
      text-align: center
      &::before
        display: none
    &-buttons
      align-self: center
      &::before
        display: none
    &-slide
      &::after
        align-self: center
    &-button
      &-next
        left: calc( 50% + 10px )
      &-prev 
        left: calc( 50% - 40px )
@media screen and ( max-width: 768px )
  .footer
    &__wraps
      display: none
    &__down
      margin-top: 30px
  .timer
    display: none
@media screen and ( max-width: 761px )
  .hero
    &__navigation
      &__navbar
        & a 
          margin-right: 17px
@media screen and ( max-width: 740px )
  .forms
    &__rows
      flex-direction: column
      align-items: center
    &__card
      margin-bottom: 20px
      flex-direction: row
      justify-content: flex-end
    &__information
      margin-top: 53px
@media screen and ( max-width: 688px )
  .catalog
    &__list
      flex-direction: column
      align-items: center
@media screen and ( max-width: 570px )
  .categories
    &__rows
      &__button
        margin-right: 0
        &:nth-of-type(4)
          margin-right: 0
@media screen and ( max-width: 612px )
  .footer
    &__down
      &__wraps
        flex-direction: column
        align-items: center
@media screen and ( max-width: 646px )
  .hero
    &__navigation
      &__navbar
        display: none
@media screen and ( max-width: 575px )
  .col-30:nth-of-type(2)
    display: none !important
  .mobileapp
    &__text
      &__title
        font-size: 40px
        line-height: 40px
  .forms
    display: none
  .services
    display: none
@media screen and ( max-width: 438px )
  .swiper 
    &-text 
      text-align: center
      &::before
        margin: auto